.footer {
    background-color: #001d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;

    @media only screen and (max-width: 900px) {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    &__left {
        color: #fff;

        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 1.6rem;
            margin: 1rem 0;
        }

        @media only screen and (max-width: 900px) {
            grid-row: 2 / 3;
            text-align: center;
        }
    }

    &__logo {

        @media only screen and (max-width: 900px) {
            grid-row: 1 / 2;
            margin-bottom: 5rem;
        }

        &--pic {
            width: 20rem;
            height: auto;
        }
    }
}